<nav class="navbar navbar-expand-sm bg-primary navbar-dark shadowDarker">
  <a routerLink="home" routerLinkActive="active" class="navbar-brand">
    <img src="assets/Logo.ico" style="width:32px;">
  </a>
  <div class="collapse navbar-collapse">
    <a class="prevent-select text-white font-weight-bolder navbar-nav mr-auto" >Punto de Venta</a>
    <form class="form-inline my-2 my-lg-0" action="/action_page.php">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">#</span>
        </div>
        <input type="number" min="1" step="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
        class="form-control" placeholder="Invoice">
      </div>
    </form>
  </div>
</nav>
<div class="grid2">
  <div class="shadowDarker bg-primary navWidth grid3 text-center">
    <div class="padBottom10">
      <a class="prevent-select prevent-select text-white font-weight-bolder">Ventas</a>
    </div>
    <div class="padBottom5">      
      <button routerLink="sells/documents" routerLinkActive="active" [ngClass]="btnPressed[0] === false ? 'itemLeft' : 'itemLeft item-selected'" (click)="onPressMenu(0)">
        <img src="assets/sell.png" class="selfCenter">
        <a class="smallFont prevent-select text-white font-weight-light">Documentos</a>
      </button>
    </div>
    <div class="padBottom5">      
      <button routerLink="clients/list" routerLinkActive="active" [ngClass]="btnPressed[1] === false ? 'itemLeft' : 'itemLeft item-selected'" (click)="onPressMenu(1)">
        <img src="assets/customer.png" class="selfCenter">
        <a class="smallFont prevent-select text-white font-weight-light">Clientes</a>
      </button>
    </div>
    <div class="padBottom5">      
      <button routerLink="archs/documents" routerLinkActive="active" [ngClass]="btnPressed[2] === false ? 'itemLeft' : 'itemLeft item-selected'" (click)="onPressMenu(2)">
        <img src="assets/arch.png" class="selfCenter">
        <a class="smallFont prevent-select text-white font-weight-light">Cortes</a>
      </button>
    </div>
    <div class="separator">
      <div class="lineGradient"></div>
    </div>

    
    <div class="padBottom10">
      <a class="prevent-select prevent-select text-white font-weight-bolder">Compras</a>
    </div>
    <div class="padBottom5">      
      <button routerLink="buys/documents" routerLinkActive="active" [ngClass]="btnPressed[3] === false ? 'itemLeft' : 'itemLeft item-selected'" (click)="onPressMenu(3)">
        <img src="assets/buy.png" class="selfCenter">
        <a class="smallFont prevent-select text-white font-weight-light">Documentos</a>
      </button>
    </div>
    <div class="padBottom5">      
      <button routerLink="prov/list" routerLinkActive="active" [ngClass]="btnPressed[4] === false ? 'itemLeft' : 'itemLeft item-selected'" (click)="onPressMenu(4)">
        <img src="assets/prov.png" class="selfCenter">
        <a class="smallFont prevent-select text-white font-weight-light">Proveedor</a>
      </button>
    </div>
    <div class="padBottom5">      
      <button routerLink="products/list" routerLinkActive="active" [ngClass]="btnPressed[5] === false ? 'itemLeft' : 'itemLeft item-selected'" (click)="onPressMenu(5)">
        <img src="assets/product.png" class="selfCenter">
        <a class="smallFont prevent-select text-white font-weight-light">Productos</a>
      </button>
    </div>
    <div class="separator">
      <div class="lineGradient"></div>
    </div>

    <div class="padBottom10">
      <a class="prevent-select prevent-select text-white font-weight-bolder">Otros</a>
    </div>
    <div class="padBottom5">      
      <button routerLink="decreases/documents" routerLinkActive="active" [ngClass]="btnPressed[6] === false ? 'itemLeft' : 'itemLeft item-selected'" (click)="onPressMenu(6)">
        <img src="assets/inventory.png" class="selfCenter">
        <a class="smallFont prevent-select text-white font-weight-light">Inventario</a>
      </button>
    </div>
    <div class="padBottom5">      
      <button routerLink="reports/list" routerLinkActive="active" [ngClass]="btnPressed[7] === false ? 'itemLeft' : 'itemLeft item-selected'"  (click)="onPressMenu(7)">
        <img src="assets/reports.png" class="selfCenter">
        <a class="smallFont prevent-select text-white font-weight-light">Reportes</a>
      </button>
    </div>
  </div>
  <div class="pad20"> 
    <router-outlet></router-outlet>    
  </div>
  
</div>