<div class="docsGrid">
    <!--Encabezado de Pantalla Documentos-->
    <div class="docsHeader"> 
        <a class="display-4 prevent-select">{{titleDoc}}</a>
        <div class="self-right selfBottom">            
            <button type="button" class="btn btn-success">{{btnText}}</button>
        </div>
        <form class="form-inline my-2 my-lg-0 selfBottom">
            <div class="input-group">
              <div class="input-group-prepend">
                <a class="input-group-text">
                    <img src="assets/filter.png">
                </a>
              </div>
              <input type="text" class="form-control" placeholder="Invoice">
            </div>
          </form>
    </div>
    <!--Cuerpo de pantalla documentos, aqui estara la tabla de documentos-->
    <div>

    </div>
</div>